---
layout: page
title: Tags in Blog
permalink: /tags/
---
{% assign sorted_tags = site.tags | sort %}
<div class="tags">
  <ul class="tags-list">
    {% for tag in sorted_tags %}
    <li class="tags-item"><a href="#{{ tag[0] | cgi_escape | cgi_escape }}" class="tags-link">{{ tag[0] | escape }} <span>{{ tag[1].size }}</span></a></li>
    {% endfor %}
  </ul>
  <hr>
  {% for tag in sorted_tags %}
  <section class="tags-group" aria-labelledby="{{ tag[0] | cgi_escape | escape }}">
    <h2 class="tags-title" id="{{ tag[0] | cgi_escape | escape }}">{{ tag[0] | escape }}</h2>
    {% for post in tag[1] %}
    <div class="tag-item">
      <div class="tag-text">
        <a class="tag-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        <time class="tag-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
      </div>
    </div>
    {% endfor %}
  </section>
  {% endfor %}
</div>
