<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer-top">
          <h2 class="logo-title">
            <a href="{{site.baseurl}}/" class="logo-text">At0micenergy</a>
          </h2>
          <button type="button" class="top icon-button" aria-label="Back to top">
            <svg viewBox="0 0 24 24" aria-hidden="true"><path d="m6 14 6-6 6 6" /></svg>
          </button>
        </div>
        <div class="footer-bottom">
          <div class="copyright">
            <p>&copy; {{site.time | date: '%Y'}} Crafted & Designed by <a href="https://github.com/At0micenergy">At0micenergy</a></p>
          </div>
          <div class="footer-social">
            <ul class="list-reset">
              <li><a href="{{ '/feed.xml' | relative_url }}">RSS</a></li>
             

              {% if site.twitter %}
              <li><a href="{{ site.twitter }}">Twitter</a></li>
              {% else %} {% endif %}
              
            
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> <!-- /.footer -->
