<div id="boot" role="status" aria-label="Loading">
  <div class="term">
    <div class="bl" data-line="$ redline --boot"></div>
    <div class="bl" data-line="> mounting /dev/conviction ................. OK"></div>
    <div class="bl" data-line="> loading typefaces [serif / grotesk / mono] . OK"></div>
    <div class="bl" data-line="> calibrating scroll velocity .............. OK"></div>
    <div class="bl" data-line="> purging gradients, blobs &amp; lorem ipsum ... OK"></div>
    <div class="bl" data-line="> entering the lab <span class='cursor-block'></span>"></div>
  </div>
  <span class="skip">[click] to skip</span>
</div>
